# Node.js
node_modules/

# Директория сборки NestJS
dist/

# Логи
*.log

# Файлы временных и кэшированных данных
*.swp
*.swo

# Файлы для разработки (например, coverage для тестов)
coverage/
*.coverage

# Прочие специфичные файлы
*.tsbuildinfo
